* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 300px;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    height: 80px;
    background-color: rgb(245, 248, 252);
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

/* display: block => Serve para que eu consiga alterar tamanho e a área do nosso link */

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;
}

.button_theme button {
    display: flex;
    align-self: flex-end;
    font-size: 16px;
    padding: 20px;
    margin-left: 50px;
    background: #11998e;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    transition: all 0.5s;
  }

.button_theme button:hover {
    transform: scale(1.05);
}

.modo_dark {
    background-color: rgb(20,30,40);
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    height: 670px;
    background-image: url("../imgs/img1.jpg");
    background-position: center;
    background-size: cover;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 350px;
    margin: 0px;
    padding: 0px;    
}

.banner_headline h2 {
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    max-width: 350px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2, 
.banner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0D79c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    color: white;
    font-size: 21px;
}

.banner_desc {
    color: white;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_desc_hours {
    padding: 10px;
}

.hours {
    margin-top: 10px;
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;    
}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #a8a5a5;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2c4b99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #a8a5a5;
    font-weight: bold;
    font-size: 25px;
}

article .news_resume {
    color: #a8a5a5;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.footer_menu {
    display: flex;    
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px; 
}

.fm_1, 
.fm_2, 
.fm_3 {
    flex: 1;
    color: white;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0D79c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;
}

.footer_area_item {
    flex: 1;
    color: #FFFFFF;
}

.flexColumn {
    flex-direction: column;
}

footer .widget_title_text {
    color: #FFFFFF;
}

.footer_copy {
    text-align: center;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 4px;
    background-color: #0D79c7;
}

@media only screen and (max-width: 600px) {

    .banner_headline {
        padding: 50px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }    

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;   
    }

    #geral section, 
    #geral aside {
        padding: 20px;
    }

    .footer_menu, 
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .button_theme button {
        border-radius: none;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #geral article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .widget {
        margin-top: 10px;
        padding: 10px;
    }

    .widget_title {
        margin-top: 160px;
    }

}